.upper-part-of-header {
  width: 100%;
  height: 51px;
  background: black; }

.lower-part-of-header {
  width: 100%;
  height: 74px;
  background: #666666; }

.container {
  height: 100%; }

.navbar {
  padding: 0 !important;
  height: 100% !important; }

.navbar-toggleable-md .navbar-collapse {
  height: 100%;
  z-index: 4;
  width: 20%; }

ul {
  height: 100%;
  padding-top: 0; }
  ul .nav-section {
    width: 99px; }
  ul .nav-section:nth-child(1) {
    border-top: solid 10px #ffae00; }
  ul .nav-section:nth-child(2) {
    border-top: solid 10px #fc7100; }
  ul .nav-section:nth-child(3) {
    border-top: solid 10px #e51c5e; }
  ul .nav-section:nth-child(4) {
    border-top: solid 10px #ae0f8d; }
  ul .nav-section:nth-child(5) {
    border-top: solid 10px #6d0fae; }
  ul .nav-section:nth-child(6) {
    border-top: solid 10px #33227a; }
  ul .nav-section:nth-child(7) {
    border-top: solid 10px #0c8fcc; }
  ul .nav-section:nth-child(1):hover {
    background: #ffae00;
    transition: 1s; }
  ul .nav-section:nth-child(2):hover {
    background: #fc7100;
    transition: 1s; }
  ul .nav-section:nth-child(3):hover {
    background: #e51c5e;
    transition: 1s; }
  ul .nav-section:nth-child(4):hover {
    background: #ae0f8d;
    transition: 1s; }
  ul .nav-section:nth-child(5):hover {
    background: #6d0fae;
    transition: 1s; }
  ul .nav-section:nth-child(6):hover {
    background: #33227a;
    transition: 1s; }
  ul .nav-section:nth-child(7):hover {
    background: #0c8fcc;
    transition: 1s; }

.section-link {
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase; }

.custom-toggler .navbar-toggler {
  border-color: white; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

form {
  position: relative;
  border: solid 1px #85939f; }

.form-control {
  background: none !important; }

.search {
  border: none;
  outline: none; }

input {
  width: 90%;
  height: 30px;
  background: none;
  padding-left: 10px;
  color: black;
  border: none;
  outline: 0;
  resize: none; }

.fa-search:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #85939f;
  font-size: 14px; }

.btn-sbm {
  background: none;
  border: none; }

.enter-link {
  color: #85939f;
  font-family: Oxygen, sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 35px; }

.login:before {
  content: url("../img/login.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.register:before {
  content: url("../img/register.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.upper-part-of-header {
  width: 100%;
  height: 51px;
  background: black; }

.lower-part-of-header {
  width: 100%;
  height: 74px;
  background: #666666; }

.container {
  height: 100%; }

.navbar {
  padding: 0 !important;
  height: 100% !important; }

.navbar-toggleable-md .navbar-collapse {
  height: 100%;
  z-index: 4;
  width: 20%; }

ul {
  height: 100%;
  padding-top: 0; }
  ul .nav-section {
    width: 99px; }
  ul .nav-section:nth-child(1) {
    border-top: solid 10px #ffae00; }
  ul .nav-section:nth-child(2) {
    border-top: solid 10px #fc7100; }
  ul .nav-section:nth-child(3) {
    border-top: solid 10px #e51c5e; }
  ul .nav-section:nth-child(4) {
    border-top: solid 10px #ae0f8d; }
  ul .nav-section:nth-child(5) {
    border-top: solid 10px #6d0fae; }
  ul .nav-section:nth-child(6) {
    border-top: solid 10px #33227a; }
  ul .nav-section:nth-child(7) {
    border-top: solid 10px #0c8fcc; }
  ul .nav-section:nth-child(1):hover {
    background: #ffae00;
    transition: 1s; }
  ul .nav-section:nth-child(2):hover {
    background: #fc7100;
    transition: 1s; }
  ul .nav-section:nth-child(3):hover {
    background: #e51c5e;
    transition: 1s; }
  ul .nav-section:nth-child(4):hover {
    background: #ae0f8d;
    transition: 1s; }
  ul .nav-section:nth-child(5):hover {
    background: #6d0fae;
    transition: 1s; }
  ul .nav-section:nth-child(6):hover {
    background: #33227a;
    transition: 1s; }
  ul .nav-section:nth-child(7):hover {
    background: #0c8fcc;
    transition: 1s; }

.section-link {
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase; }

.custom-toggler .navbar-toggler {
  border-color: white; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

form {
  position: relative;
  border: solid 1px #85939f; }

.form-control {
  background: none !important; }

.search {
  border: none;
  outline: none; }

input {
  width: 90%;
  height: 30px;
  background: none;
  padding-left: 10px;
  color: black;
  border: none;
  outline: 0;
  resize: none; }

.fa-search:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #85939f;
  font-size: 14px; }

.btn-sbm {
  background: none;
  border: none; }

.enter-link {
  color: #85939f;
  font-family: Oxygen, sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 35px; }

.login:before {
  content: url("../img/login.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.register:before {
  content: url("../img/register.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.welcome-section .carousel-indicators .active {
  background: #25c4b0; }
.welcome-section .carousel-item img {
  height: 95vh; }

.main-carousel-inner {
  height: 80vh; }

.img-fluid {
  height: 50%; }

.carousel-item img {
  height: 100px; }

.carousel-caption {
  margin-bottom: 5em; }
  .carousel-caption h2 {
    font-family: Oxygen, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 72px; }
  .carousel-caption .welcome-button {
    margin-top: 5em; }

.my-btn {
  width: 136px;
  height: 40px;
  background-color: #02baab;
  border: solid 2px #02baab;
  margin: 10px;
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase; }

.my-empty-btn {
  background: none;
  margin: 10px;
  color: #02baab; }

.section-promo {
  width: 100%;
  height: 500px; }
  .section-promo .promo-width {
    width: 736px; }

h3 {
  color: #3b4954;
  font-family: Oxygen, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px; }

h3:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  left: 50%;
  margin-left: -25px;
  margin-top: 0.5em;
  background: #eeeeee;
  display: block; }

.text-color-white {
  color: white; }

.text-color-green {
  color: #02baab; }

.text-color-black {
  color: black; }

.title-and-text p {
  margin-top: 4em; }

.latest-works {
  width: 100%;
  height: 100vh;
  background: url("../img/latest-works.jpg");
  background-size: 100%; }

.photo img {
  width: 290px;
  height: 290px; }

body {
  width: 100%;
  margin: 0 auto; }

.container {
  width: 940px;
  margin: auto; }

.container-fluid {
  max-width: 736px; }

li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
