h3 {
  color: #3b4954;
  font-family: Oxygen, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px; }

h3:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  left: 50%;
  margin-left: -25px;
  margin-top: 0.5em;
  background: #eeeeee;
  display: block; }

h4 {
  color: red;
  font-family: Oxygen, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px; }

.text-color-white {
  color: white; }

.text-color-green {
  color: #02baab; }

.text-color-black {
  color: black; }

.title-and-text p {
  margin-top: 4em; }

.carousel-caption {
  width: 614px; }

.upper-part-of-header {
  width: 100%;
  height: 51px;
  background: black; }

.lower-part-of-header {
  width: 100%;
  background: #666666; }

.container {
  height: 100%; }

.navbar {
  padding: 0 !important;
  height: 70%; }

.navbar-toggleable-md .navbar-collapse {
  z-index: 4;
  width: 20%;
  height: 100%; }

ul {
  height: 100%;
  padding-top: 0; }
  ul .nav-section {
    width: 99px; }
  ul .nav-section:nth-child(1) {
    border-top: solid 10px #ffae00; }
  ul .nav-section:nth-child(2) {
    border-top: solid 10px #fc7100; }
  ul .nav-section:nth-child(3) {
    border-top: solid 10px #e51c5e; }
  ul .nav-section:nth-child(4) {
    border-top: solid 10px #ae0f8d; }
  ul .nav-section:nth-child(5) {
    border-top: solid 10px #6d0fae; }
  ul .nav-section:nth-child(6) {
    border-top: solid 10px #33227a; }
  ul .nav-section:nth-child(7) {
    border-top: solid 10px #0c8fcc; }
  ul .nav-section:nth-child(1):hover {
    background: #ffae00;
    transition: 1s; }
  ul .nav-section:nth-child(2):hover {
    background: #fc7100;
    transition: 1s; }
  ul .nav-section:nth-child(3):hover {
    background: #e51c5e;
    transition: 1s; }
  ul .nav-section:nth-child(4):hover {
    background: #ae0f8d;
    transition: 1s; }
  ul .nav-section:nth-child(5):hover {
    background: #6d0fae;
    transition: 1s; }
  ul .nav-section:nth-child(6):hover {
    background: #33227a;
    transition: 1s; }
  ul .nav-section:nth-child(7):hover {
    background: #0c8fcc;
    transition: 1s; }

.section-link {
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase; }

.custom-toggler .navbar-toggler {
  border-color: white; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

form {
  position: relative;
  border: solid 1px #85939f; }

.form-control {
  background: none !important; }

.search {
  border: none;
  outline: none; }

input {
  width: 90%;
  height: 30px;
  background: none;
  padding-left: 10px;
  color: black;
  border: none;
  outline: 0;
  resize: none; }

.fa-search:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #85939f;
  font-size: 14px; }

.btn-sbm {
  background: none;
  border: none; }

.enter-link {
  color: #85939f;
  font-family: Oxygen, sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 35px; }

.login:before {
  content: url("../img/login.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.register:before {
  content: url("../img/register.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.upper-part-of-header {
  width: 100%;
  height: 51px;
  background: black; }

.lower-part-of-header {
  width: 100%;
  background: #666666; }

.container {
  height: 100%; }

.navbar {
  padding: 0 !important;
  height: 70%; }

.navbar-toggleable-md .navbar-collapse {
  z-index: 4;
  width: 20%;
  height: 100%; }

ul {
  height: 100%;
  padding-top: 0; }
  ul .nav-section {
    width: 99px; }
  ul .nav-section:nth-child(1) {
    border-top: solid 10px #ffae00; }
  ul .nav-section:nth-child(2) {
    border-top: solid 10px #fc7100; }
  ul .nav-section:nth-child(3) {
    border-top: solid 10px #e51c5e; }
  ul .nav-section:nth-child(4) {
    border-top: solid 10px #ae0f8d; }
  ul .nav-section:nth-child(5) {
    border-top: solid 10px #6d0fae; }
  ul .nav-section:nth-child(6) {
    border-top: solid 10px #33227a; }
  ul .nav-section:nth-child(7) {
    border-top: solid 10px #0c8fcc; }
  ul .nav-section:nth-child(1):hover {
    background: #ffae00;
    transition: 1s; }
  ul .nav-section:nth-child(2):hover {
    background: #fc7100;
    transition: 1s; }
  ul .nav-section:nth-child(3):hover {
    background: #e51c5e;
    transition: 1s; }
  ul .nav-section:nth-child(4):hover {
    background: #ae0f8d;
    transition: 1s; }
  ul .nav-section:nth-child(5):hover {
    background: #6d0fae;
    transition: 1s; }
  ul .nav-section:nth-child(6):hover {
    background: #33227a;
    transition: 1s; }
  ul .nav-section:nth-child(7):hover {
    background: #0c8fcc;
    transition: 1s; }

.section-link {
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase; }

.custom-toggler .navbar-toggler {
  border-color: white; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

form {
  position: relative;
  border: solid 1px #85939f; }

.form-control {
  background: none !important; }

.search {
  border: none;
  outline: none; }

input {
  width: 90%;
  height: 30px;
  background: none;
  padding-left: 10px;
  color: black;
  border: none;
  outline: 0;
  resize: none; }

.fa-search:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #85939f;
  font-size: 14px; }

.btn-sbm {
  background: none;
  border: none; }

.enter-link {
  color: #85939f;
  font-family: Oxygen, sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 35px; }

.login:before {
  content: url("../img/login.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.register:before {
  content: url("../img/register.png");
  position: relative;
  top: 0.1em;
  right: 0.3em; }

.welcome-section {
  margin-top: 121px; }
  .welcome-section .carousel-indicators .active {
    background: #25c4b0; }
  .welcome-section .carousel-item img {
    height: 100vh; }

.main-carousel-inner {
  height: 80vh; }

.img-fluid {
  height: 50%; }

.carousel-item img {
  height: 100px; }

.carousel-caption h2 {
  font-family: Oxygen, sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px; }
.carousel-caption .welcome-button {
  margin-top: 5em; }

.my-btn {
  width: 136px;
  height: 40px;
  background-color: #02baab;
  border: solid 2px #02baab;
  margin: 10px;
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase; }

.my-empty-btn {
  background: none;
  margin: 10px;
  color: #02baab; }

.section-promo {
  width: 100%;
  height: 500px; }
  .section-promo .promo-width {
    width: 736px; }

.latest-works {
  min-height: 100vh;
  background: url("../img/latest-works.jpg") no-repeat center center;
  background-size: cover; }
  .latest-works .container {
    max-width: 930px; }

.latest-photo li:hover .link-hidden {
  opacity: 1;
  transition: 1s; }
.latest-photo li:hover .lower-text {
  opacity: 0;
  transition: 1s; }
.latest-photo li {
  position: relative;
  margin-bottom: 20px; }
  .latest-photo li .link-hidden {
    width: 20px;
    height: 60px;
    position: absolute !important;
    top: 15%;
    left: 43%;
    opacity: 0; }
    @media (min-width: 992px) {
      .latest-photo li .link-hidden {
        left: 40%; } }
    .latest-photo li .link-hidden .link-bg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #25c4b0;
      padding-top: 8px; }
      .latest-photo li .link-hidden .link-bg a {
        color: white; }
  .latest-photo li .lower-text {
    position: absolute;
    bottom: 30px;
    margin-left: 190px; }
    @media (min-width: 992px) {
      .latest-photo li .lower-text {
        margin-left: 10px; } }
    .latest-photo li .lower-text p {
      margin: 0; }
    .latest-photo li .lower-text .name {
      font-family: Oxygen, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
    .latest-photo li .lower-text .name:after {
      content: "\f004";
      font-family: FontAwesome;
      position: relative;
      color: #ffffff;
      font-size: 14px;
      left: 10.5em; }
    .latest-photo li .lower-text .job {
      font-family: Oxygen, sans-serif;
      font-size: 11px;
      font-weight: 300;
      line-height: 20px; }
    .latest-photo li .lower-text .job:after {
      content: "157";
      position: relative;
      color: #02baab;
      font-size: 14px;
      margin-left: 8.7em; }

.attention-section {
  background: #25c4b0;
  height: 141px; }
  .attention-section .container {
    max-width: 860px; }
    .attention-section .container p {
      font-family: Oxygen,sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px; }
    .attention-section .container .my-btn {
      background: none;
      border-color: white; }

.features {
  min-height: 500px; }

.feature-list {
  margin-top: 4em; }
  .feature-list li {
    left: 1em;
    position: relative;
    padding-left: 50px;
    padding-right: 50px; }
    .feature-list li h4 {
      font-family: Oxygen, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px; }
    .feature-list li p {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
  .feature-list li:nth-child(1):before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 38px;
    color: #02baab;
    top: 0;
    left: 0;
    display: block;
    position: absolute; }
  .feature-list li:nth-child(2):before {
    content: "\f091";
    font-family: FontAwesome;
    font-size: 38px;
    color: #02baab;
    top: 0;
    left: 0;
    display: block;
    position: absolute; }
  .feature-list li:nth-child(3):before {
    content: "\f0d0";
    font-family: FontAwesome;
    font-size: 38px;
    color: #02baab;
    top: 0;
    left: 0;
    display: block;
    position: absolute; }
  .feature-list li:nth-child(4):before {
    content: "\f0ed";
    font-family: FontAwesome;
    font-size: 38px;
    color: #02baab;
    top: 0;
    left: 0;
    display: block;
    position: absolute; }

.quote {
  min-height: 450px; }
  .quote .carousel-item img {
    height: 450px; }
  .quote .carousel-caption {
    padding-bottom: 8em; }
  .quote .carousel-caption:before {
    content: "\f10e";
    font-family: FontAwesome;
    font-size: 38px;
    color: #02baab;
    display: block; }
  .quote .carousel-indicators li {
    border-radius: 50%;
    width: 8px;
    height: 7px; }
  .quote .carousel-indicators .active {
    background: #25c4b0; }

body {
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 940px;
  margin: auto; }

.container-fluid {
  max-width: 736px; }

li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
