@import "header";
@import "header";
@import "welcome";
@import "button";
@import "promo";
@import "caption";
@import "latest-works";
@import "attention";

body{
  width:100%;
  margin: 0 auto;
}
.container{
  max-width:940px;
  margin: auto;
}

.container-fluid{
  max-width:736px;
}

li{
  list-style: none;
}

